@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

:root {
  --bg-color: #ffffff;
  --button-color: #326589;
  --text-title-color: #fc6621;
  --text-description-color: #fc6621;
  --text-price-color: #002f52;
  --text-author-color: #858585;
  --text-tag-color: #9c9c9c;
}

body {
  font-family: 'Poppins';
}

.wrap {
  width: 80rem;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-color: var(--bg-color);
  margin: 0.9375rem 0.9375rem;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.875rem;
  margin: 4rem 0;
}

.btn {
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  height: 2.75rem;
  text-decoration: none;
  color: #fff;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  color: #cecdcd;
  border-radius: 0.625rem;
  border-bottom: 0.125rem solid var(--text-description-color);
}

.livros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
}

.livro {
  width: 18.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40.25rem;
  margin-bottom: 1rem;
}

.indisponivel {
  opacity: 0.3;
}

.livro__titulo {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5rem;
}

.livro__descricao {
  text-align: center;
  font-size: 1.125rem;
  color: var(--text-author-color);
  margin: 1rem 0;
}

.livro__preco {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-price-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.tag {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-tag-color);
  padding: 0.3125rem 0.25rem;
  background: rgba(197, 197, 197, 0.25);
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.livros__disponiveis {
  width: 100%;
  height: 5rem;
  background-color: var(--text-description-color);
  margin-top: 1rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.livros__disponiveis p {
  color: #fff;
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 2.5em;
} 

.rodape {
  width: 100%;
  height: 6.5rem;
  background: linear-gradient(96.48deg, #002f52 36.3%, #326589 99.56%);
  margin-top: 1rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape p {
  color: #fff;
  font-weight: 500;
  line-height: 1.5rem;
}

@media screen and (max-width: 80rem) {
  .wrap {
    width: 95%;
  }
}

@media screen and (max-width: 60rem) {
  .banner {
    display: none;
  }
  
  .nav {
    flex-direction: column;
    height: auto;
    gap: 1rem;
    margin: 2rem 0;
  }

  .livros {
    gap: 2rem;
  }

  .livros__disponiveis p {
    font-size: 1.5em;
  }
}
